<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

	<title>Страховой Сервис «Москва»</title>

	<link href="favicon.ico" type="image/x-icon" rel="icon" />
	<link rel="stylesheet" type="text/css" href="insurance.css" />
	<link rel="stylesheet" type="text/css" href="select.box.css" />

	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="js/insurance.js"></script>
	<script src="js/jquery.selectBox.js"></script>
	<script src="js/jquery.customForm.js"></script>

	<!--[if gte IE 9]>
		<style type="text/css">
			.gradient {
				filter: none;
			}
		</style>
	<![endif]-->
	<script type="text/javascript">
		$(document).ready(function() {
			$("select").selectBox();
		});
	</script>
</head>
<body>
	<div class="bLayout">
		<div class="bHeader">
			<a href="/" class="bHeader__eLogoLink"><img src="images/logo.jpg" width="227" height="50" alt="Страховой Сервис «Москва»" class="bHeader__eLogo"></a>
			<span class="bHeader__eHeaderText">Мы&nbsp;продаем<br>сервис!</span>
			<span class="bHeader__ePhone">+ 7&nbsp;800 2000&nbsp;600</span>
			<div class="bEnter">
				<img src="images/enter_l.gif" class="bEnter__eLeftEdge" width="9" height="23" alt="">
				<div class="bEnter__eEnterWrapper">
					<img src="images/enterArrow.png" class="bEnter__eEnterArrow" width="5" height="8" alt="">
					<span class="bEnter__eEnterText">Вход</span>
				</div>
				<img src="images/enter_c.gif" class="bEnter__eCenterImg" width="8" height="23" alt="">
				<div class="bEnter__eRegistrationWrapper">
					<img src="images/registerArrow.png" class="bEnter__eRegistrationArrow" width="5" height="8" alt="">
					<span class="bEnter__eRegistrationText">Регистрация</span>
				</div>
				<img src="images/enter_r.gif" class="bEnter__eRightEdge" width="3" height="23" alt="">
			</div><!-- .Enter -->
		</div><!-- .bHeader -->
		<div class="bMenu">
			<img src="images/menu_l.gif" class="bMenu__eLeft" width="3" height="42" alt="">

			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">КАСКО / ОСАГО</a>
				<div class="bSubMenu">
					<a href="#" class="bSubMenu__eItem">Вакансии</a>
					<a href="#" class="bSubMenu__eItem">Гид по сервисам и салонам</a>
				</div>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Корпоративным клиентам</a>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Новости</a>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Гид салоны / сервисы</a>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Партнеры</a>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Акции</a>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Контакты</a>
			</div>

			<div class="bMenu__eSocial">
				<a href="#"><img src="images/fb_grey.png" class="bMenu_eSocialImg" width="14" height="14" alt=""></a>
				<a href="#"><img src="images/vk_grey.png" class="bMenu_eSocialImg" width="14" height="14" alt=""></a>
				<a href="#"><img src="images/twitter_grey.png" class="bMenu_eSocialImg" width="14" height="14" alt=""></a>
			</div>
		</div><!-- bMenu -->
		<div class="bBanner">
			<div class="bSliderControls">
				<div class="bSliderControls__eBullet bSliderControls__eBullet__mState_active"></div>
				<div class="bSliderControls__eBullet"></div>
				<div class="bSliderControls__eBullet"></div>
				<div class="bSliderControls__eBullet"></div>
			</div>
			<div class="bBanner__eAd">
				<div class="bBanner__eAdText">с&nbsp;10&nbsp;по&nbsp;20&nbsp;мая</div>
				<div class="bBanner__eAdText bBanner__eAdText__mFont_big">
					Всем&nbsp;девушкам КАСКО&nbsp;дешевле на&nbsp;<span class="bBanner__eAdText__mFont_bold">15&nbsp;%</span>
					<a href="#"><img src="images/profound.png" class="bAd__eLink" width="82" height="23" alt=""></a>
				</div>
			</div>
			<div class="bBanner__eVisibleSlider">
				<div class="bBanner__eLine">
					<img src="images/banner_image1.jpg" class="bBanner__eImage" width="938" height="300" alt="">
					<img src="images/banner_image1.jpg" class="bBanner__eImage" width="938" height="300" alt="">
					<img src="images/banner_image1.jpg" class="bBanner__eImage" width="938" height="300" alt="">
					<img src="images/banner_image1.jpg" class="bBanner__eImage" width="938" height="300" alt="">
					<img src="images/banner_image1.jpg" class="bBanner__eImage" width="938" height="300" alt="">
				</div>
			</div>
		</div><!-- .bBanner -->
		<div class="bBreadcrumbs">
			<div class="bBreadcrumbs__eFirstStep">
				<div class="bBreadcrumbs__eFirstStepText">Главная</div>
				<div class="bBreadcrumbs__eFirstStepArrow"></div>
			</div>
			<div class="bBreadcrumbs__eSecondStepWrapper">
				<div class="bBreadcrumbs__eSecondStep">
					<div class="bBreadcrumbs__eSecondStepText">Корпоративным клиентам</div>
					<div class="bBreadcrumbs__eSecondStepArrow"></div>
				</div>
				<div class="bBreadcrumbs__eArrowWhite"></div>
				<div class="bBreadcrumbs__eArrowBlackWrapper">
					<div class="bBreadcrumbs__eArrowBlackBg"></div>
					<div class="bBreadcrumbs__eArrowBlack"></div>
				</div>
			</div>
		</div><!-- .bBreadcrumbs -->
		<div class="bContent">
			<div class="bContent__eRightCol bContent__eRightCol__mWidth_full">
				<div class="bRightColBg">
					<h1>Корпоративным клиентам</h1>
					<p class="bTextItem bTextItem__mType_subtitle">Для расчета необходимо заполнить все поля формы. </p>
					<div class="bApplication">
            			<form method="POST" action="#" name="applicationForm" id="applicationForm">
            				<div  class="bApplication__eFirstStep">
                				<span class="bApplication__eLeaveApplicationText">Заявка на&nbsp;подбор<br />страховой программы</span><br />
                				<select class="bSupplierList bSupplierList__mType_long">
        							<option class="bSupplierList__eItem">Парк транспортных средств</option>
        							<option class="bSupplierList__eItem">ДМС</option>
        							<option class="bSupplierList__eItem">Имущество юридических лиц</option>
        							<option class="bSupplierList__eItem">Строительно-монтажные риски</option>
        							<option class="bSupplierList__eItem">Грузы</option>
        							<option class="bSupplierList__eItem">Гражданская ответственность</option>
        							<option class="bSupplierList__eItem">Несчастный случай</option>
        							<option class="bSupplierList__eItem">Авиариски</option>
        							<option class="bSupplierList__eItem">Другие риски</option>
        						</select>
            				</div>
            				<div class="bApplication__eSplitter"></div>
            				<div class="bApplicationForm">
            					<div class="bApplicationForm__eLine">
            						<div class="bApplicationForm__eArrowWrapper">
            							<span class="bApplicationForm__eArrowText">Имя</span>
            							<span class="bApplicationForm__eArrowAngle"></span>
            						</div>
            						<input type="text" class="bApplicationForm__eInput bApplicationForm__eInput__mWidth_short" id="name" name="name">
            					</div>
            					<div class="bApplicationForm__eLine">
            						<div class="bApplicationForm__eArrowWrapper">
            							<span class="bApplicationForm__eArrowText">Фамилия</span>
            							<span class="bApplicationForm__eArrowAngle"></span>
            						</div>
            						<input type="text" class="bApplicationForm__eInput bApplicationForm__eInput__mWidth_short" id="sname" name="sname">
            					</div>
            					<div class="bApplicationForm__eLine bApplicationForm__eLine__mBottomSpace_disable">
            						<div class="bApplicationForm__eArrowWrapper">
            							<span class="bApplicationForm__eArrowText">Телефон</span>
            							<span class="bApplicationForm__eArrowAngle"></span>
            						</div>
            						<input type="text" class="bApplicationForm__eInput bApplicationForm__eInput__mWidth_short" id="phone" name="phone">
            					</div>
            				</div><!-- .bApplicationForm -->
            				<div class="bApplication__eSplitter"></div>
            				<div class="bApplication__eSend">
            					<a href="#" class="bApplication__eSendLink">
            						<img src="images/count.png" class="bApplication__eSendLinkImage" width="174" height="53" alt="">
            					</a>
            					<div class="bApplication__eSendText">Наш специалист перезвонит Вам и&nbsp;уточнив детали сообщит сумму страховки.</div>
            				</div>
            			</form>
            		</div><!-- .bApplication -->
				</div><!-- .bRightColBg -->
			</div><!-- .bContent__eRightCol -->
			<div class="bContent__eClear"></div>
		</div><!-- .bContent -->
		<div class="bFooter">
			<div class="bFooterLinks">
				<div class="bFooterLinks__eSocial">
					<span class="bFooterLinks__eSocialText">Социальные сети</span>
					<a href="#" class="bFooterLinks__eSocialLink"><img src="images/facebook.png" class="bFooterLinks__eSocialImage" width="16" height="16" alt=""></a>
					<a href="#" class="bFooterLinks__eSocialLink"><img src="images/vk.png" class="bFooterLinks__eSocialImage" width="16" height="16" alt=""></a>
					<a href="#" class="bFooterLinks__eSocialLink"><img src="images/twitter.png" class="bFooterLinks__eSocialImage" width="16" height="16" alt=""></a>
				</div>
				<div class="bFooterLinks__eMenu">
					<a href="#" class="bFooterLinks__eMenuLink">КАСКО / ОСАГО</a>
					<a href="#" class="bFooterLinks__eMenuLink">Корпоративным клиентам</a>
					<a href="#" class="bFooterLinks__eMenuLink">Партнеры</a>
					<a href="#" class="bFooterLinks__eMenuLink">Акции</a>
					<a href="#" class="bFooterLinks__eMenuLink">Контакты</a>
				</div>
			</div>
			<div class="bFooterCopyright">
				<div class="bFooterCopyright__eRights">&copy;&nbsp;2012 Все права защищены. Страховой Сервис Москва.</div>
				<div class="bFooterCopyright__eDev">Design: Kostabravo.ru</div>
				<div class="bFooterCopyright__eClear"></div>
			</div>
		</div><!-- .bFooter -->
	</div><!-- .bLayout -->
</body>
</html>