<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

	<title>Страховой Сервис «Москва»</title>

	<link href="favicon.ico" type="image/x-icon" rel="icon" />
	<link rel="stylesheet" type="text/css" href="insurance.css" />
	<link rel="stylesheet" type="text/css" href="select.box.css" />

	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="js/insurance.js"></script>
	<script src="js/jquery.selectBox.js"></script>
	<script src="js/jquery.customForm.js"></script>

	<!--[if gte IE 9]>
		<style type="text/css">
			.gradient {
				filter: none;
			}
		</style>
	<![endif]-->
	<script type="text/javascript">
		$(document).ready(function() {
			$("select").selectBox();
		});
	</script>
</head>
<body>
	<div class="bLayout">
		<div class="bHeader">
			<a href="/" class="bHeader__eLogoLink"><img src="images/logo.jpg" width="227" height="50" alt="Страховой Сервис «Москва»" class="bHeader__eLogo"></a>
			<span class="bHeader__eHeaderText">Мы&nbsp;продаем<br>сервис!</span>
			<span class="bHeader__ePhone">+ 7&nbsp;800 2000&nbsp;600</span>
			<div class="bEnter">
				<img src="images/enter_l.gif" class="bEnter__eLeftEdge" width="9" height="23" alt="">
				<div class="bEnter__eEnterWrapper">
					<img src="images/enterArrow.png" class="bEnter__eEnterArrow" width="5" height="8" alt="">
					<span class="bEnter__eEnterText">Вход</span>
				</div>
				<img src="images/enter_c.gif" class="bEnter__eCenterImg" width="8" height="23" alt="">
				<div class="bEnter__eRegistrationWrapper">
					<img src="images/registerArrow.png" class="bEnter__eRegistrationArrow" width="5" height="8" alt="">
					<span class="bEnter__eRegistrationText">Регистрация</span>
				</div>
				<img src="images/enter_r.gif" class="bEnter__eRightEdge" width="3" height="23" alt="">
			</div><!-- .Enter -->
		</div><!-- .bHeader -->
		<div class="bMenu">
			<img src="images/menu_l.gif" class="bMenu__eLeft" width="3" height="42" alt="">

			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">КАСКО / ОСАГО</a>
				<div class="bSubMenu">
					<a href="#" class="bSubMenu__eItem">Вакансии</a>
					<a href="#" class="bSubMenu__eItem">Гид по сервисам и салонам</a>
				</div>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Корпоративным клиентам</a>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Новости</a>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Гид салоны / сервисы</a>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Партнеры</a>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Акции</a>
			</div>
			<img class="bMenu__eSplitter" src="images/menu_splitter.png" width="2" height="28">
			<div class="bMenu__eItem">
				<a href="#" class="bMenu__eItemLink">Контакты</a>
			</div>

			<div class="bMenu__eSocial">
				<a href="#"><img src="images/fb_grey.png" class="bMenu_eSocialImg" width="14" height="14" alt=""></a>
				<a href="#"><img src="images/vk_grey.png" class="bMenu_eSocialImg" width="14" height="14" alt=""></a>
				<a href="#"><img src="images/twitter_grey.png" class="bMenu_eSocialImg" width="14" height="14" alt=""></a>
			</div>
		</div><!-- bMenu -->
		<div class="bBanner">
			<div class="bSliderControls">
				<div class="bSliderControls__eBullet bSliderControls__eBullet__mState_active"></div>
				<div class="bSliderControls__eBullet"></div>
				<div class="bSliderControls__eBullet"></div>
				<div class="bSliderControls__eBullet"></div>
			</div>
			<div class="bBanner__eAd">
				<div class="bBanner__eAdText">с&nbsp;10&nbsp;по&nbsp;20&nbsp;мая</div>
				<div class="bBanner__eAdText bBanner__eAdText__mFont_big">
					Всем&nbsp;девушкам КАСКО&nbsp;дешевле на&nbsp;<span class="bBanner__eAdText__mFont_bold">15&nbsp;%</span>
					<a href="#"><img src="images/profound.png" class="bAd__eLink" width="82" height="23" alt=""></a>
				</div>
			</div>
			<div class="bBanner__eVisibleSlider">
				<div class="bBanner__eLine">
					<img src="images/banner_image1.jpg" class="bBanner__eImage" width="938" height="300" alt="">
					<img src="images/banner_image1.jpg" class="bBanner__eImage" width="938" height="300" alt="">
					<img src="images/banner_image1.jpg" class="bBanner__eImage" width="938" height="300" alt="">
					<img src="images/banner_image1.jpg" class="bBanner__eImage" width="938" height="300" alt="">
					<img src="images/banner_image1.jpg" class="bBanner__eImage" width="938" height="300" alt="">
				</div>
			</div>
		</div><!-- .bBanner -->
		<div class="bBreadcrumbs">
			<div class="bBreadcrumbs__eFirstStep">
				<div class="bBreadcrumbs__eFirstStepText">Главная</div>
				<div class="bBreadcrumbs__eFirstStepArrow"></div>
			</div>
			<div class="bBreadcrumbs__eSecondStepWrapper">
				<div class="bBreadcrumbs__eSecondStep">
					<div class="bBreadcrumbs__eSecondStepText">Новости</div>
					<div class="bBreadcrumbs__eSecondStepArrow"></div>
				</div>
				<div class="bBreadcrumbs__eArrowWhite"></div>
				<div class="bBreadcrumbs__eArrowBlackWrapper">
					<div class="bBreadcrumbs__eArrowBlackBg"></div>
					<div class="bBreadcrumbs__eArrowBlack"></div>
				</div>
			</div>
		</div><!-- .bBreadcrumbs -->
		<div class="bContent">
			<div class="bContent__eLeftCol">
				<div class="bSideMenu">
					<div class="bSideMenu__eItem bSideMenu__eItem__mPosition_first bSideMenu__eItem__mState_active">Все новости</div>
					<div class="bSideMenu__eItem"><a href="#" class="bSideMenu__eItemLink">Новости компании</a></div>
					<div class="bSideMenu__eItem bSideMenu__eItem__mPosition_last"><a href="#" class="bSideMenu__eItemLink">Российские новости</a></div>
				</div>
				<div class="bSideFeatures">
					<div class="bFeatures__eItem bFeatures__eItem__mSide_position">
						<div class="bFeatures__eTopLine">
							<div class="bFeatures__eText">Служба<br>поддержки<br>24&nbsp;часа</strong></div>
							<img src="images/girl.jpg" class="bFeatures__eImage bFeatures__eImage__mPosition_bottom" width="83" height="116" alt="Карта клуба «Москва»">
						</div>
						<div class="bFeatures__eBottomLine">
							<span class="bFeatures__eBottomText">+ 7&nbsp;800 2000&nbsp;600</span>
						</div>
					</div>
					<div class="bFeatures__eItem bFeatures__eItem__mSide_position">
						<div class="bFeatures__eTopLine">
							<div class="bFeatures__eText">Только час<br>&mdash;&nbsp;страховка<br>со&nbsp;скидкой<br>20%</strong></div>
							<img src="images/clock.jpg" class="bFeatures__eImage bFeatures__eImage__mPosition_center_bottom" width="68" height="100" alt="Карта клуба «Москва»">
						</div>
						<div class="bFeatures__eBottomLine">
							<span class="bFeatures__eBottomText">Cчастливый час</span>
						</div>
					</div>
					<div class="bFeatures__eItem bFeatures__eItem__mSide_position">
						<div class="bFeatures__eTopLine">
							<div class="bFeatures__eText">Карта<br>клуба<br><strong>«Москва»</strong></div>
							<img src="images/clubCard.jpg" class="bFeatures__eImage bFeatures__eImage__mPosition_center" width="85" height="70" alt="Карта клуба «Москва»">
						</div>
						<div class="bFeatures__eBottomLine">
							Больше<br>привелегий
						</div>
					</div>
				</div><!-- .bSideFeatures -->
			</div><!-- .bContent__eLeftCol -->
			<div class="bContent__eRightCol">
				<div class="bRightColBg">
					<div class="bNewsItem">
						<div class="bNewsItem__eLeft">
							<img src="images/newsImage.jpg" class="bNewsItem__eImage" width="102" height="84" alt="" />
						</div>
						<div class="bNewsItem__eRight">
							<p class="bNewsItem__eNewsTitle">
								Выдача бланков ОСАГО будет ограничена
							</p>
							<a href="#" class="bNewsItem__eNewsDate">
								12.12.2012
							</a>
							<p class="bNewsItem__eNewsText">
								На&nbsp;заседании Госдумы, в&nbsp;понедельник, 2&nbsp;ноября, большинство депутатов выразило идеи обеспечения страховых компаний бланками полисов ОСАГО и&nbsp;&laquo;Зеленой карты&raquo; в&nbsp;зависимости от&nbsp;дисциплинированности и&nbsp;платежеспособности компаний&nbsp;...&nbsp;<a href="#"><img src="images/news_arrow.png" width="12" height="14" alt="" /></a>
							</p>
						</div>
						<div class="bNewsItem__eText"></div>
					</div><!-- .bNewsItem -->
					<div class="bNewsItem">
						<div class="bNewsItem__eLeft">
							<img src="images/newsImage.jpg" class="bNewsItem__eImage" width="102" height="84" alt="" />
						</div>
						<div class="bNewsItem__eRight">
							<p class="bNewsItem__eNewsTitle">
								Выдача бланков ОСАГО будет ограничена
							</p>
							<a href="#" class="bNewsItem__eNewsDate">
								12.12.2012
							</a>
							<p class="bNewsItem__eNewsText">
								На&nbsp;заседании Госдумы, в&nbsp;понедельник, 2&nbsp;ноября, большинство депутатов выразило идеи обеспечения страховых компаний бланками полисов ОСАГО и&nbsp;&laquo;Зеленой карты&raquo; в&nbsp;зависимости от&nbsp;дисциплинированности и&nbsp;платежеспособности компаний&nbsp;...&nbsp;<a href="#"><img src="images/news_arrow.png" width="12" height="14" alt="" /></a>
							</p>
						</div>
						<div class="bNewsItem__eText"></div>
					</div><!-- .bNewsItem -->
					<div class="bNewsItem">
						<div class="bNewsItem__eLeft">
							<img src="images/newsImage.jpg" class="bNewsItem__eImage" width="102" height="84" alt="" />
						</div>
						<div class="bNewsItem__eRight">
							<p class="bNewsItem__eNewsTitle">
								Выдача бланков ОСАГО будет ограничена
							</p>
							<a href="#" class="bNewsItem__eNewsDate">
								12.12.2012
							</a>
							<p class="bNewsItem__eNewsText">
								На&nbsp;заседании Госдумы, в&nbsp;понедельник, 2&nbsp;ноября, большинство депутатов выразило идеи обеспечения страховых компаний бланками полисов ОСАГО и&nbsp;&laquo;Зеленой карты&raquo; в&nbsp;зависимости от&nbsp;дисциплинированности и&nbsp;платежеспособности компаний&nbsp;...&nbsp;<a href="#"><img src="images/news_arrow.png" width="12" height="14" alt="" /></a>
							</p>
						</div>
						<div class="bNewsItem__eText"></div>
					</div><!-- .bNewsItem -->
					<div class="bNewsItem">
						<div class="bNewsItem__eLeft">
							<img src="images/newsImage.jpg" class="bNewsItem__eImage" width="102" height="84" alt="" />
						</div>
						<div class="bNewsItem__eRight">
							<p class="bNewsItem__eNewsTitle">
								Выдача бланков ОСАГО будет ограничена
							</p>
							<a href="#" class="bNewsItem__eNewsDate">
								12.12.2012
							</a>
							<p class="bNewsItem__eNewsText">
								На&nbsp;заседании Госдумы, в&nbsp;понедельник, 2&nbsp;ноября, большинство депутатов выразило идеи обеспечения страховых компаний бланками полисов ОСАГО и&nbsp;&laquo;Зеленой карты&raquo; в&nbsp;зависимости от&nbsp;дисциплинированности и&nbsp;платежеспособности компаний&nbsp;...&nbsp;<a href="#"><img src="images/news_arrow.png" width="12" height="14" alt="" /></a>
							</p>
						</div>
						<div class="bNewsItem__eText"></div>
					</div><!-- .bNewsItem -->
				</div><!-- .bRightColBg -->
				<div class="bColBottom">
					<div class="bPageNumWrapper">
						<span class="bPageNumWrapper__eNumberText"><</span>
					</div>
					<div class="bPageNumWrapper">
						<div class="bPageNumWrapper__eNumber">
							<span class="bPageNumWrapper__eNumberText">1</span>
						</div>
					</div>
					<div class="bPageNumWrapper bPageNumWrapper__mState_active">
						<div class="bPageNumWrapper__eNumber">
							<span class="bPageNumWrapper__eNumberText">2</span>
						</div>
					</div>
					<div class="bPageNumWrapper">
						<div class="bPageNumWrapper__eNumber">
							<span class="bPageNumWrapper__eNumberText">3</span>
						</div>
					</div>
					<div class="bPageNumWrapper">
						<span class="bPageNumWrapper__eNumberText">...</span>
					</div>
					<div class="bPageNumWrapper">
						<div class="bPageNumWrapper__eNumber">
							<span class="bPageNumWrapper__eNumberText">4</span>
						</div>
					</div>
					<div class="bPageNumWrapper">
						<div class="bPageNumWrapper__eNumber">
							<span class="bPageNumWrapper__eNumberText">5</span>
						</div>
					</div>
					<div class="bPageNumWrapper">
						<span class="bPageNumWrapper__eNumberText">></span>
					</div>
				</div><!-- .bColBottom -->
			</div><!-- .bContent__eRightCol -->
			<div class="bContent__eClear"></div>
		</div><!-- .bContent -->
		<div class="bFooter">
			<div class="bFooterLinks">
				<div class="bFooterLinks__eSocial">
					<span class="bFooterLinks__eSocialText">Социальные сети</span>
					<a href="#" class="bFooterLinks__eSocialLink"><img src="images/facebook.png" class="bFooterLinks__eSocialImage" width="16" height="16" alt=""></a>
					<a href="#" class="bFooterLinks__eSocialLink"><img src="images/vk.png" class="bFooterLinks__eSocialImage" width="16" height="16" alt=""></a>
					<a href="#" class="bFooterLinks__eSocialLink"><img src="images/twitter.png" class="bFooterLinks__eSocialImage" width="16" height="16" alt=""></a>
				</div>
				<div class="bFooterLinks__eMenu">
					<a href="#" class="bFooterLinks__eMenuLink">КАСКО / ОСАГО</a>
					<a href="#" class="bFooterLinks__eMenuLink">Корпоративным клиентам</a>
					<a href="#" class="bFooterLinks__eMenuLink">Партнеры</a>
					<a href="#" class="bFooterLinks__eMenuLink">Акции</a>
					<a href="#" class="bFooterLinks__eMenuLink">Контакты</a>
				</div>
			</div>
			<div class="bFooterCopyright">
				<div class="bFooterCopyright__eRights">&copy;&nbsp;2012 Все права защищены. Страховой Сервис Москва.</div>
				<div class="bFooterCopyright__eDev">Design: Kostabravo.ru</div>
				<div class="bFooterCopyright__eClear"></div>
			</div>
		</div><!-- .bFooter -->
	</div><!-- .bLayout -->
</body>
</html>