select,
.selectBox {
	display: inline-block;
	position: relative;
	width: 112px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	border: 1px solid #c3c3c3;
	-webkit-box-shadow: -1px 1px 3px 1 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px 1px 3px 1 rgba(0, 0, 0, 0.1);
	box-shadow: -1px 1px 3px 1 rgba(0, 0, 0, 0.1); 
}
.selectBox:hover {
	color: #000;
	text-decoration: none;
}
.selectBox-label {
	padding: 0 15px 0 8px;
	font: 14px/18px Arial, sans-serif;
}
.selectBox-arrow {
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 24px;
	overflow: hidden;
	cursor: pointer;
	background: #ffd800 url(/images/select-button.png) 8px 10px no-repeat;
	-webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.1); 
}
.selectBox-dropdown-menu {
	position: absolute;
	list-style: none;
	font-size: 16px;
	line-height: 20px;
	background: #fff;
	margin: 0;
	padding: 0;
	border: 1px solid #c3c3c3;
	-webkit-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.selectBox-dropdown-menu li {
	display: block;	
}
.selectBox-dropdown-menu li a {
	display: block;
	padding: 2px 2px 2px 10px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	font: 14px/18px Arial, sans-serif;
}
.selectBox-dropdown-menu li a:hover {
	text-decoration: none;
	background: #ffd800;
}